<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.autoauto.maintenancetracker">

    <application
        android:name=".AutoAutoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DebugActivity"></activity>
        <activity android:name=".EditScheduleActivity" />
        <activity
            android:name=".EditVehicleActivity"
            android:label="Edit Vehicle" />
        <activity
            android:name=".ViewLogActivity"
            android:label="Log" />
        <activity
            android:name=".ViewAlertsActivity"
            android:label="Alerts" />
        <activity
            android:name=".MaintenanceActivity"
            android:label="Maintenance Schedule" />
        <activity
            android:name=".AddVehicleActivity"
            android:label="Create Vehicle" />
        <activity
            android:name=".AboutVehicleActivity"
            android:label="Vehicle Details" />
        <activity
            android:name=".MainActivity"
            android:label="Maintenance Tracker">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>